*{
    background-color: rgb(238, 238, 238);
    font-size: 1.0409em;
    font-family: Arial, Helvetica, sans-serif;
}
.BordaVerde{
    border-radius: 20px;
    border: solid;
    padding: 20px;
    flex-basis: 350px;
    background-color: #2040263d;
}
.Flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    justify-content: space-evenly;
}
.Titulo{
    color: #204026;
    font-weight: bold;
    text-align: center;
    background-color: #20402602;
}
.SubTitulo{
    background-color: #20402602;
    color: black;
    text-align: center;
    font-weight: bold;
}
.Linha{
    border-bottom: 2px solid black;
}
.Input{
    border-radius: 30px;
    border-color: #204026;
    border: solid;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: #20402600;
}
.Button{
    align-items: center;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    border-color: #FCC752;
    background-color: #fcc6527e;
    transition: 0.5s;
    cursor: pointer;
}
.Button:hover{
    transform: scale(1.2);
}
.Resultado{
    border: solid;
    border-radius: 20px;
    border-color: darkred;
    margin: 10px;
    padding: 5px;
}
.Informacao{
    border: solid;
    border-radius: 20px;
    border-color: black;
    margin: 10px;
    padding: 5px;
}
.ButCalculadoras{
    width: 220px;
    height: 50px;
    font-size: medium;
    font-weight: bold;
    margin: 5px;
}