# A linha abaixo determina que o diretório node_modules não será enviado ao repositório remoto
**/node_modules
**/package-lock.json

**/.github
**/.env
**/.env.dev

**/API DATAQUINO/node_modules
**/API WEB DATA VIZ/node_modules
