body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

#container {
    display: flex;
}

#container #logo {
    display: flex;
    height: 100vh;
    width: 80vh !important;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top,#6f5cff, #6ea8ff,#8bbcff);
}

#container #logo img {
    display: flex;
    width: 400px;
}

#container #container_campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 100px;
    gap: 30px;
}

#container #container_campos h3 {
    text-align: center;
    color: red;
    font-size: 25px;
}

#container #container_campos a {
    text-decoration: none;
    color: red;
    font-weight: bolder;
}

#container #container_campos a:hover {
    opacity: 1;
    text-decoration: underline;
}

input {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    transition: 0.3s;
    width: 300px;
    height: 20px;
    font-size: 15px;
}

input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#botao {
    align-self: center;
    padding: 12px 25px;
    background-color: #e20a0a;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 35%;
}

/* 
CSS Seleção de cargo Login/Cadastro
*/

#container_selecao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#container_selecao #div_botoes {
    display: flex;
    justify-items: center;
    align-self: center;
    gap: 150px;
    margin-left: 220px;
    background-color: #cacaca;
    padding: 40px;
    border-radius: 30px;
}

#container_selecao h1 {
    display: flex;
    justify-content: center;
    margin-left: 200px;
}

#container_selecao #div_botoes button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px; 
    border: none;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

#container_selecao #div_botoes button img {
    margin-bottom: 20px;
}

#container_selecao #div_botoes button #imgEnf {
    width: 100px;
    height: auto;
}

#container_selecao #div_botoes button #imgEnfChefe {
    width: 130px;
    height: auto;
}

.erro{
    color: #e20a0a;
    font-size: 15px;
    text-align: center;
}
.sumir{
    display: none;
}
