@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: whitesmoke;
}

header {
    height: 7.5dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid black;
}

main {
    height: 90dvh;
    width: 100dvw;
}

footer {
    height: 2.5dvh;
    border-top: 3px solid black;
    width: 100dvw;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

header .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.5dvw;
    height: 7.5dvh;
    background: linear-gradient(135deg, #0000FF 0%, purple 50%, #FF0000 100%);
    background-clip: text;
    color: transparent;
}

header .logo span:nth-child(1) {
    font-size: xx-large;
    font-weight: 700;
}

header .logo span:nth-child(2) {
    font-size: large;
    font-weight: 700;
}

header .header-lista {
    width: 87.5dvw;
    height: 7.5dvh;
    text-align: right;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

a {
    font-style: none;
    font-size: large;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: right;
    text-align: center;
    align-items: center;
}

main .div-dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin: 50px;
    min-height: 100%;
}

main .div-infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    width: 85%;
    justify-content: space-between;
    height: 15dvh;
}

main nav {
    padding: 5px;
}

main .pai {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90dvh;
    justify-content: center;
    align-items: center;
}

.info,
.dashboard,
.info-grande {
    position: relative;
    justify-content: start;
    align-items: center;
    text-align: start;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    padding: 20px;
    height: 100%;
    font-weight: 550;
    background-color: white;
}

.info {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "texto texto"
        "icone temp";
    font-size: large;
    width: 18%;
    min-height: 100%;
}

.titulo-temp {
    grid-area: texto;
    font-size: 1.5rem;
}

.div-temp {
    grid-area: icone;
}

.div-valor {
    grid-area: temp;
    padding-right: 25px;
    align-self: center;
    font-size: 4rem;
}

main .dashboard {
    width: 85%;
    height: 60dvh;
    background-image: linear-gradient(to bottom, rgb(255, 190, 190) 0%, white 5%, white 95%, rgb(196, 205, 255) 100%);
    box-shadow: 0 5px 15px black;
}

.info:nth-child(2) {
    color: #FF0000
}

.info:nth-child(3) {
    color: #0000FF
}

.info-grande {
    width: 42%;
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: large;
}

@view-transition {
    navigation: auto;
}

.info-interna {
    width: 50%;
}

.info img {
    width: 100%;
    height: 100%;
}

.grafico {
    text-align: center;
    height: 100%;
    align-content: center;
}

.info:last-child {
    padding: 0;
    color: white;
    font-size: medium;
}

.grafico:first-child {
    background-color: #0000FF;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.grafico:nth-child(2) {
    background-color: green;
}

.grafico:last-child {
    background-color: #FF0000;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
